html {
  color:white;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {

  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(websitebackground.webp);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    
}
.navbar{
   background-color: black;
}
h1 , h2 , h3 , h4 , td , th , dt, d1, dd{ 
    color:white;
    font-family:bold;
    

}
p , p4 {
    color:white;
}
h1{
    font-family:fantasy;
    font-size:larger;
}
a{
    color:white;
}
.input.form-control {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left:50px;

}
input.form-control:hover, input.form-control:focus {
    background-color: black;   
}
h4{
   font-family:fantasy;
   margin-top:25px;
   margin-left:-90px;
    
}
.btn-primary {
    border: none;
    text-decoration: none;
    display: inline-block;
    border-radius: 45px;
    background-color: white;
    background-size: 50px;
    color:black;
}
    .btn-primary:hover {
        background-color: black;
        color: white;
        transition: 0.4s;
    }
hr{
    margin-top:auto;
}

   
button {
    border: none;
    text-decoration: none;
    display: inline-block;
    border-radius: 45px;
    background-color: white;
    background-size:50px;
}
    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        background-color: black;
        color: white;
        transition:0.4s;
    }
    .main-pb-3{
        margin-top:150px;
    }
logo.png {
    border-radius: 45px;
}
.form-floatingregister {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);  
    color: white;
    transition: 0.4s;
    margin-top:8%;
}
.rowregister {
    justify-content: center;
    align-items: center;
    display:flex;
    margin-left:350px;

}
hReg {
    margin-left: 71vh;
    font-family: fantasy;
    color: white;
    font-size: larger;
}
h20 {
    font-family: fantasy;
    color: white;
    font-size: larger;
    margin-left:10vh;
}
hr{
    display:none;
}
.Search {
    width: 350px;
    margin-left: -90px;
}
.loginpage {
    justify-content: center;
    align-items: center;
    display: flex;
    
}
hlog {
    margin-left: 80vh;
    font-family: fantasy;
    color: white;
    font-size: larger;
}


.form-floatinglogin {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
    transition: 0.4s;
    margin-top: 8%;
}
.input.form-label {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 50px;
}
input.form-login:hover, input.form-login:focus {
    background-color: black;
    color:white;
}









    





