@model MotorcycleShowroom.Models.BMW

@{
    ViewData["Title"] = "Create";
}

<style>
    .grey-overlay {
        position: relative;
        background-color: rgba(128, 128, 128, 0.5); /* Adjust opacity here */
        padding: 20px;
        border-radius: 10px; /* Add border radius for rounded corners */
    }

    .grey-overlay-content {
        position: relative;
        z-index: 2;
    }

    .text-white {
        color: white;
    }
</style>

<div class="grey-overlay">
    <div class="container mt-5 grey-overlay-content">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-white">Create</h1>

                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-white"></div>
                    <div class="form-group">
                        <label asp-for="Motorcycles" class="control-label text-white"></label>
                        <input asp-for="Motorcycles" class="form-control" />
                        <span asp-validation-for="Motorcycles" class="text-white"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Info" class="control-label text-white"></label>
                        <input asp-for="Info" class="form-control" />
                        <span asp-validation-for="Info" class="text-white"></span>
                    </div>
                    <div class="form-group">
                        <label for="Images" class="text-white">Upload Photo:</label>
                        <input type="file" name="Images" id="photo" class="form-control" multiple />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-primary">Back to List</a> <!-- Apply the same styling -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
