@model MotorcycleShowroom.Models.BMW

@{
    ViewData["Title"] = "Delete";
}

<style>
    .grey-overlay {
        background-color: rgba(128, 128, 128, 0.5); /* Adjust opacity here */
        padding: 20px;
        border-radius: 10px; /* Add border radius for rounded corners */
    }

    .text-white {
        color: white;
    }
</style>

<div class="grey-overlay">
    <h1 class="text-white">Delete</h1>

    <h3 class="text-white">Are you sure you want to delete this?</h3>
    <div class="text-white">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Motorcycles)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Motorcycles)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Info)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Info)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-primary">Back to List</a> <!-- Apply the same styling -->
        </form>
    </div>
</div>
