@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velikow's Moto Showroom'</h1>
    <p>On This Website, You Can See The Info Of Different Two Wheel Machines</a>.</p>
</div>
