@{
    ViewData["Title"] = "Home Page";
}

<div class="fw-bold text-end">


    <h1 class="display-4">Velikow's Moto Showroom</h1>
    
    <p>On This Website, You Can See The Specs Of Different Two Wheel Machines</a>.</p>
</div>

