@{
    ViewData["Title"] = "Showroom";
}
<h1>@ViewData["Request"]</h1>

<p style="text-align:left;"fw-bold> From a single button, you will be able to make a request to the administrators, to upload your beautiful machines.</p>
<div class="requests">
    <a href="https://www.instagram.com/velikow_/">
  <button>Request</button>
</a>
</div>
